
/* .icon-nav li a:hover.icon-hover{
    color:#111c2d;
}
.icon-hover:hover::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
} */