<div class="flex flex-col lg:flex-row gap-4 items-center justify-between">
    <div class="md:flex hidden items-center gap-5">
        <a href="https://www.wrappixel.com/" class="" target="_blank">
            <img src="@@webRoot/assets/images/logos/logo-wrappixel.svg" width="147" alt="logo-wrappixel" />
        </a>
        <div class="xl:flex items-center gap-4 pl-5 border-l border-opacity-20 border-white hidden">
            <a href="https://www.wrappixel.com/templates/category/tailwind-dashboard/" target="_blank"
                class="flex items-center gap-2 text-white bg-transparent hover:text-[#714bff]">
                <iconify-icon class="text-xl" icon="solar:window-frame-linear"></iconify-icon>
                Templates
            </a>
            <a href="https://support.wrappixel.com/" target="_blank"
                class="flex items-center gap-2 text-white bg-transparent hover:text-[#714bff]">
                <iconify-icon class="text-xl" icon="solar:question-circle-linear"></iconify-icon>
                Help
            </a>
            <a href="https://www.wrappixel.com/hire-us/" target="_blank"
                class="flex items-center gap-2 text-white bg-transparent hover:text-[#714bff]">
                <iconify-icon class="text-xl" icon="solar:case-round-linear"></iconify-icon>
                Hire Us
            </a>
        </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-4 justify-center">
        <h4 class="text-sm font-normal text-white uppercase font-semibold bg-[linear-gradient(90deg,_#FFFFFF_0%,_#8D70F8_100%)] [-webkit-background-clip:text] [background-clip:text] [-webkit-text-fill-color:transparent]">Checkout Pro Version</h4>
        <div class="flex flex-col sm:flex-row items-center gap-[10px]">
            <div class="flex items-center gap-[10px]">
                <div class="hs-dropdown [--placement:bottom-right] relative inline-flex">
                    <button id="hs-dropdown-default" type="button"
                        class="hs-dropdown-toggle flex items-center gap-2 rounded-sm border text-white text-base border-[#ffffff66] border-1 hover:bg-[#8d70f8] px-4 py-2">
                        <span class="leading-tight">Live Preview</span>
                        <i
                            class="ti ti-chevron-down text-base flex items-center leading-4 font-medium hs-dropdown-open:rotate-180"></i>
                    </button>
                    <div class="hs-dropdown-menu transition-[opacity,margin] p-4 duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-sm mt-2"
                        role="menu" aria-orientation="vertical" aria-labelledby="hs-dropright">
                        <a href="https://www.wrappixel.com/templates/spike-tailwind-admin-template/?ref=376#demos"
                            target="_blank"
                            class="w-full flex items-center gap-3 text-base text-[#000c29] py-3 px-[18px] rounded-sm hover:bg-[#000c290d] hover:text-[#000c29]">
                            <img src="@@webRoot/assets/images/svgs/tailwindcss.svg" alt="tailwind" width="18">
                            Tailwind Version
                        </a>
                        <a href="https://www.wrappixel.com/templates/spike-angular-admin-template/?ref=376#demos"
                            target="_blank"
                            class="w-full flex items-center gap-3 text-base text-[#000c29] py-3 px-[18px] rounded-sm hover:bg-[#000c290d] hover:text-[#000c29]">
                            <img src="@@webRoot/assets/images/svgs/angular-cat-icon.svg" alt="angular" width="18">
                            Angular Version
                        </a>
                        <a href="https://www.wrappixel.com/templates/spike-bootstrap-admin-dashboard/?ref=376#demos"
                            target="_blank"
                            class="w-full flex items-center gap-3 text-base text-[#000c29] py-3 px-[18px] rounded-sm hover:bg-[#000c290d] hover:text-[#000c29]">
                            <img src="@@webRoot/assets/images/svgs/bt-cat-icon.svg" alt="bootstrap" width="18">
                            Bootstrap Version
                        </a>
                        <a href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376#demos"
                            target="_blank"
                            class="w-full flex items-center gap-3 text-base text-[#000c29] py-3 px-[18px] rounded-sm hover:bg-[#000c290d] hover:text-[#000c29]">
                            <img src="@@webRoot/assets/images/svgs/next-cat-icon.svg" alt="nextjs" width="18">
                            NextJs Version
                        </a>
                        <a href="https://www.wrappixel.com/templates/spike-nuxtjs-admin-template/?ref=376#demos"
                            target="_blank"
                            class="w-full flex items-center gap-3 text-base text-[#000c29] py-3 px-[18px] rounded-sm hover:bg-[#000c290d] hover:text-[#000c29]">
                            <img src="@@webRoot/assets/images/svgs/nuxt-cat-icon.svg" alt="nuxtjs" width="18">
                            NuxtJs Version
                        </a>
                        <a href="https://www.wrappixel.com/templates/spike-vuejs-admin-dashboard/?ref=376#demos"
                            target="_blank"
                            class="w-full flex items-center gap-3 text-base text-[#000c29] py-3 px-[18px] rounded-sm hover:bg-[#000c290d] hover:text-[#000c29]">
                            <img src="@@webRoot/assets/images/svgs/vue-cat-icon.svg" alt="vuejs" width="18">
                            VueJs Version
                        </a>
                    </div>
                </div>
                <a href="https://www.wrappixel.com/templates/spike-tailwind-admin-template/?ref=376"
                    class="flex items-center px-4 py-2 rounded-sm gap-2 text-white bg-[#8d70f8] hover:bg-[#714bff]"
                    target="_blank" aria-current="page">
                    <iconify-icon class="text-xl" icon="solar:crown-linear"></iconify-icon>
                    Get Pro
                </a>
            </div>
            <a href="https://www.wrappixel.com/all-access-pass/?ref=376"
                class="btn flex items-center px-4 text-base py-2 rounded-sm gap-2 text-[#000000] bg-[#b3f143] hover:bg-[#90de03]"
                target="_blank" aria-current="page">
                <iconify-icon class="text-xl" icon="solar:case-round-linear"></iconify-icon>
                All Access Pass
            </a>
        </div>
    </div>
</div>